.form-control {
  border-radius: 3px;
  width: 300px;
  margin-left: 20px;
}
label{
  margin-left: 20px;
}
.container{
  margin-left: 20%;
}
h3{
  margin-left: 120px;
}
.btn btn-primary{
  margin-top: 2px;
}
.btn-primary{
  margin-left: 20px;
}
a{
  margin-left: 5%;
}
