<!-- <app-header></app-header>
<app-nav></app-nav>
<router-outlet></router-outlet>

<div class="container">
  <div class="row">
    <div class="col">

    </div>
  </div>

  <div class="row">
    <div class="col">

    </div>
  </div>

  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </div>
  </div>
</div>




 -->
 <app-header></app-header>
 <app-nav></app-nav>
 <router-outlet></router-outlet>

 <!-- <div class="container">
   <div class="row">
     <div class="col">
       <app-nav></app-nav>
     </div>
   </div>
   <div class="row">
     <div class="col">

     </div>
   </div>
   <div class="row">
     <div class="col">


     </div>
   </div>
 </div>
 <app-footer></app-footer> -->

 <div class="row">
   <div class="col">
     <app-footer></app-footer>
   </div>
 </div>
