
    <div class="row" >
        <div class="col-md-4" *ngFor="let p of productPage">
            <div class="card mb-4 shadow-sm">
                <img class="bd-placeholder-img card-img-top p-2"  src="{{p.productImage}} "/>               
                <p style="color:blue ;">{{p.productName}}</p>
                <p style="color: #B12704; ">{{p.productPrice | currency:"INR"}} </p>
                <p>{{p.productDescription | slice: 0:100}}</p>
                <button type="button" class="btn btn-primary" style="width: 109px; height: 44px;">Add to Cart</button>
                
            </div>
        </div>
      